body,
p,
ul,
li,
div,
h1 {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px !important;
  font-weight: 600;
}
div {
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
  src: url("style/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("style/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("style/fonts/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 600;
  src: url("style/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("style/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("style/fonts/NotoSansKR-Medium.otf") format("truetype");
}
